services:
  silverbullet:
    image: ghcr.io/silverbulletmd/silverbullet:2.2.1
    restart: unless-stopped
    environment:
      - SB_BASE_URL=https://${SILVERBULLET_DOMAIN}/
      - SB_USER=${SB_USER_NAME}:${SB_USER_PASSWORD}
    volumes:
      - ./silverbullet-space:/space
    labels:
      traefik.enable: "true"
      traefik.docker.network: "traefik"
      traefik.http.services.silverbullet.loadbalancer.server.port: 3000
      traefik.http.services.silverbullet.loadbalancer.server.scheme: http
      traefik.http.routers.silverbullet.rule: Host(`${SILVERBULLET_DOMAIN}`)
      traefik.http.routers.silverbullet.entrypoints: websecure,web
      traefik.http.routers.silverbullet.tls.certResolver: leresolver
      traefik.http.routers.silverbullet.service: silverbullet
      traefik.http.routers.silverbullet.priority: 1
    networks:
      - traefik

  mdbook:
    build:
      context: .
      dockerfile: ./mdbook/Dockerfile
    volumes:
      - ./silverbullet-space:/book/src/
      - ./mdbook/book.toml:/book/book.toml
      - ./mdbook/entrypoint.sh:/book/entrypoint.sh
    restart: unless-stopped
    environment:
      RUST_LOG: info
    labels:
      traefik.enable: "true"
      traefik.docker.network: "traefik"
      traefik.http.routers.silverbullet-public.rule: Host(`${SILVERBULLET_PUBLISHMENT_DOMAIN}`)
      traefik.http.routers.silverbullet-public.entrypoints: websecure,web
      traefik.http.routers.silverbullet-public.tls.certResolver: leresolver
      traefik.http.services.silverbullet-public.loadbalancer.server.port: 80
      traefik.http.services.silverbullet-public.loadbalancer.server.scheme: http
      traefik.http.routers.silverbullet-public.priority: 10
    networks:
      - traefik

  # To enable auto upgrades, run watchtower
  # watchtower:
  #   image: containrrr/watchtower
  #   volumes:
  #     - /var/run/docker.sock:/var/run/docker.sock

networks:
  traefik:
    name: traefik
    external: true
